<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
<meta name=”Keywords” Content="{{.KeyWord |html}}">
<title>{{.Title |html}}</title>
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/bootstrap-glyphicons.css" rel="stylesheet">
<link href="/css/timestyles.css" rel="stylesheet">
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<style type="text/css">
</style>
</head>

<body>
<div class="container text-center">
    	
<img src="/images/404.jpg" class="img-thumbnail">	    	
</div>
</body>
</html>			