<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$Title}</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css//bootstrap-theme.min.css">
    <link href="/css/shoping.css" rel="stylesheet">	
	  <link rel="stylesheet" href="/css/idangerous.swiper.css">
  <style>
/* Demo Styles */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.swiper-container {
  width: 100%;
  height: 360px;
  color: #fff;
  text-align: center;
}
.red-slide {
  background: #ca4040;
}
.blue-slide {
  background: #4390ee;
}
.orange-slide {
  background: #ff8604;
}
.green-slide {
  background: #49a430;
}
.pink-slide {
  background: #973e76;
}
.swiper-slide .title {
  font-style: italic;
  font-size: 42px;
  margin-top: 80px;
  margin-bottom: 0;
  line-height: 45px;
}
.swiper-slide p {
  font-style: italic;
  font-size: 25px;
}
.pagination {
  position: absolute;
  z-index: 20;
  left: 10px;
  bottom: 10px;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background: #555;
  margin-right: 5px;
  opacity: 0.8;
  border: 1px solid #fff;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
  </style>
</head>
<body>
 {{ template "header" }}
 include file="header.tpl" %}
{include file="brand.tpl"}
<div class="container">
<div class="row">
<div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide red-slide">
        <div class="title">Free Mode</div>
        <p>has no fixed positions</p>
      </div>
      <div class="swiper-slide blue-slide">
        <div class="title">Fluid-Mode Enabled</div>
        <p>When you release the slide, it keep moving for a while</p>
      </div>
      <div class="swiper-slide orange-slide">
        <div class="title">Slide 3</div>
        <p>Keep swiping</p>
      </div>
      <div class="swiper-slide green-slide">
        <div class="title">Slide 4</div>
        <p>Keep swiping</p>
      </div>
      <div class="swiper-slide pink-slide">
        <div class="title">Slide 5</div>
        <p>The last one</p>
      </div>
    </div>
    <div class="pagination"></div>
  </div>
</div>
    <div class="row">
        <div class="page-header text-center">
            <h2>
                热销产品
            </h2>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/a.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</h2>
                </div>
                <div class="button-group">
                        <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                        <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                        <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/b.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/c.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/d.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/e.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/f.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/g.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/h.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>




    </div>
    <div class="row">
        <div class="page-header text-center">
            <h2>
                本周团购
            </h2>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/i.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/j.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/k.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/d.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/e.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/f.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/g.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>
        <div class="product-layout col-lg-3 col-md-3 col-sm-12 col-xs-12">
            <div class="product-thumb transition" >
                <div class="image"><a href="#"><img src="/images/h.jpg" alt="MacBook" title="MacBook" class="img-responsive" width="100%" heigth="100%"></a></div>
                <div >
                    <h1><a href="#">高原小鲜菇</a></h1>
                    
                    <h2>
                        价格：￥115</p>
                </div>
                <div class="button-group">
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-shopping-cart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-heart"> </span></button>
                    <button type="button" class="btn btn-default"><span style="color: rgb(255, 140, 60);font-size: 20px" class="glyphicon glyphicon-share"> </span></button>
                </div>
            </div>
        </div>




    </div>

</div>
 <script src="/js/jquery.min.js"></script>
 <script src="/js/bootstrap.min.js"></script>
  <script src="/js/idangerous.swiper.min.js"></script>
  <script>
  var mySwiper = new Swiper('.swiper-container',{
    pagination: '.pagination',
    paginationClickable: true,
    freeMode: true,
    freeModeFluid: true
  })
  </script>
{include file="footer.tpl"}
</body>
</html>