<h1>订单管理</h1>
<legend>订单详情</legend>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>订单号以及时间</th>
        <th  colspan=5>　订单号:10000000001　时间：2016-08-26 09:22:20 </th>
    </tr>
    <tr>
        <th>详情</th>
        <th>订购数量</th>
        <th>收货人</th>
        <th>金额</th>
        <th>付款方式</th>
        <th>状态</th>

    </tr>

    </thead>
    <tbody>

    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>已经发货</td>

    </tr>
    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"><a href="">取消订单</a></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>正在出库</td>

    </tr>
    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"><a href="">申请退货</a></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>已经收货</td>

    </tr>
    </tbody>
</table>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>订单号以及时间</th>
        <th  colspan=5>　订单号:10000000001　时间：2016-08-26 09:22:20 </th>
    </tr>
    <tr>
        <th>详情</th>
        <th>订购数量</th>
        <th>收货人</th>
        <th>金额</th>
        <th>付款方式</th>
        <th>状态</th>

    </tr>

    </thead>
    <tbody>

    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>已经发货</td>

    </tr>
    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"><a href="">取消订单</a></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>正在出库</td>

    </tr>
    <tr>

        <td  style="min-width: 100px; max-width: 200px; word-break:break-all;word-wrap:break-word;white-space: pre-wrap; "><img data-toggle="tooltip" class="pull-left" title="老首长家乡板栗" src="/xialibao/home/static/images/k.jpg" height="100px" width="100px" />老首长家乡板栗促销老首长家乡板栗促销<p style="padding-top: 20px"><a href="">申请退货</a></p></td>
        <td>2斤</td>
        <td>小兵</td>
        <td>总额：200</td>
        <td>货到付款</td>
        <td>已经收货</td>

    </tr>
    </tbody>
</table>